.delete-button {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #ff2828;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
}

.delete-button:hover {
    background-color: #df0606;
}