.app-content {
    padding: 16px;
    background-color: var(--app-bg);
    height: calc(100% - 32px);
    flex: 1;
    overflow: auto;
    display: flex;
    flex-direction: column;
    color: #fff;
  }
  

#map {
    height: 100%;
    width: 100%;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 8px;
  }
  